<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启二级缓存-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!--定义别名-->
    <typeAliases>
        <typeAlias type="com.xyq.vo.Emp" alias="Emp"/>
        <typeAlias type="com.xyq.vo.Dept" alias="Dept"/>
        <typeAlias type="com.xyq.vo.Groups" alias="Groups"/>
        <typeAlias type="com.xyq.vo.Action" alias="Action"/>
        <typeAlias type="com.xyq.vo.Level" alias="Level"/>
        <typeAlias type="com.xyq.vo.Type" alias="Type"/>
        <typeAlias type="com.xyq.vo.Subtype" alias="Subtype"/>
        <typeAlias type="com.xyq.vo.Details" alias="Details"/>
        <typeAlias type="com.xyq.vo.Res" alias="Res"/>
        <typeAlias type="com.xyq.vo.Purchase" alias="Purchase"/>
        <typeAlias type="com.xyq.vo.Take" alias="Take"/>
    </typeAliases>
    <!--读取mapping-->
    <mappers>
        <mapper resource="com/xyq/vo/mapping/Emp.xml"/>
        <mapper resource="com/xyq/vo/mapping/Dept.xml"/>
        <mapper resource="com/xyq/vo/mapping/Groups.xml"/>
        <mapper resource="com/xyq/vo/mapping/Action.xml"/>
        <mapper resource="com/xyq/vo/mapping/Level.xml"/>
        <mapper resource="com/xyq/vo/mapping/Type.xml"/>
        <mapper resource="com/xyq/vo/mapping/Subtype.xml"/>
        <mapper resource="com/xyq/vo/mapping/Details.xml"/>
        <mapper resource="com/xyq/vo/mapping/Res.xml"/>
        <mapper resource="com/xyq/vo/mapping/Purchase.xml"/>
        <mapper resource="com/xyq/vo/mapping/Take.xml"/>
    </mappers>
</configuration>